@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Poppins';
}
.page-content {
  flex: 1;
}

/* --- Navbar --- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #A43434;
  padding: 1rem 2rem;
  flex-wrap: wrap;
}
.logo {
  width: 40px;
}
.navbar-center {
  display: flex;
  gap: 1.5rem;
}
.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.nav-link:hover {
  color: #ffcccc;
}
.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.search-box {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 5px 10px;
  color: #A43434;
}
.search-box i {
  margin-right: 6px;
}
.search-box input {
  border: none;
  outline: none;
  background: transparent;
  color: #A43434;
  font-weight: 600;
}
.login-btn {
  background-color: white;
  color: #A43434;
  border: none;
  padding: 6px 16px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

/* --- Footer --- */
.footer {
  background: linear-gradient(to right, #A43434, #3e1414);
  color: white;
  padding: 2.5rem 1rem;
  font-family: 'Poppins', sans-serif;
}

.footer-content {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

.footer-left,
.footer-middle,
.footer-right {
  flex: 1;
  min-width: 200px;
}

.logo-footer {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer-logo {
  width: 10%;
  height: auto;
  margin-bottom: 2px;
}


.desc {
  font-size: 0.9rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.social-icons i {
  font-size: 1.2rem;
  margin-right: 12px;
  background: white;
  color: #a43434;
  padding: 6px;
  border-radius: 40%;
  cursor: pointer;
}

.footer-middle h5,
.footer-right h5 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.footer-middle ul,
.footer-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-middle li,
.footer-right li {
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
}

.footer-bottom hr {
  border-color: #ffffff66;
  margin-bottom: 1rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.footer-bottom .logo-footer {
  justify-content: center;
  margin-bottom: 0.5rem;
}

.footer-bottom p {
  font-size: 0.85rem;
}
